body {
    background: #e4e3db;
    display: flex;
    flex-direction: column;
}


/* header */
.header {
    background: #113743;
    height: 50px;
    text-align: left;
}

header a {
    color: #eee;
    text-decoration: none;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    position: relative;
    top: 10px;
    margin-left: 20px;
}

header a:hover {
    color: #eee;
    position: relative;
}


/* nav */
nav {
    background: #c5beba;
    position: relative;
    top: 0;
}

/* grobal navigaton */
.gnavi {
    height: 50px;
    background: #c5beba;
    font-size: 1rem;
    font-weight: 500;
}

.gnavi_inner {
    width: 980px;
    height: 100%;
    margin: auto;
}

.gnavi ul {
    height: 100%;
    display: flex;
    list-style: none;
    margin: 0 -20px;
}

.gnavi li {
    flex: 1 1;
    position: relative;
    display: flex;
}

.gnavi li::after {
    content: "";
    display: block;
    width: 1px;
    height: 25px;
    background: #eee;
    position: absolute;
    right: -1px;
    top: calc((100% - 25px) / 2);
}

.gnavi li:last-child::after {
    content: none;
}

.gnavi a {
    display: flex;
    flex: 1 1;
    justify-content: center;
    padding: 0 20px;
}

.gnavi a:hover {
    color: #c5001a;
    position: relative;
}

.gnavi a:hover span::after {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    bottom: 0;
}

.gnavi span {
    display: flex;
    align-items: center;
    word-break: keep-all;
}

.gnavi_inner ul li a {
    color: #666;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}


/* main */
.main {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}


/* contents */
.content {
    flex: 1;
    background: none;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px #113743;
}

.index_content {
    flex: 1;
    background: none;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px #113743;
    text-align: center;
}

.flexContent {
    flex: 1;
    list-style: none;
	box-sizing: border-box;
    background: none;
    display: flex;
	flex-wrap: wrap;
    margin: 10px;
    margin-bottom: 20px;
	padding: 10px;
    border: solid 1px #113743;
}


/* home */
.home_post {
    flex: 1;
    background: none;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 20px;
    align-content: flex-start;
}

.home_portfolio {
    flex: 1;
    background: none;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 20px;
    align-content: flex-start;
}

.home_title {
    text-align: center;
    display: flex;
}

.homeContent {
    flex: 1;
    list-style: none;
	box-sizing: border-box;
    background: none;
    text-align: center;
    margin-top: 20px;
}


/* h1 */
.h1_profile {
    color: #666;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    margin-left: 100px;
}

.h1_motivation {
    margin-top: 20px;
    margin-bottom: 15px;
    color: #666;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.h1_box {
    position: relative;
    margin-top: 30px;
    padding:0.25em 1em;
    display: inline-block;
}

.h1_box:before,.h1_box:after { 
    content:'';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}

.h1_box:before {
    border-left: solid 1px #5767bf;
    border-top: solid 1px #5767bf;
    top:0;
    left: 0;
}

.h1_box:after {
    border-right: solid 1px #5767bf;
    border-bottom: solid 1px #5767bf;
    bottom:0;
    right: 0;
}
.h1_box p {
    margin: 0; 
    padding: 0;
}


/* h3 */
.h3_motivation {
    color: #666;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.h3_profile {
    color: #666;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}


/* local navigation */
.lnavi {
    width: 400px;
    text-align: center;
    background: none;
    color: #666;
    margin: 10px;
    margin-bottom: 20px;
    border: solid 1px #113743;
}

.lnavi a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
    color: #666;
    font-family: 'Quicksand', sans-serif;
}

.lnavi a:hover {
    color: #c5001a;
    position: relative;
}


/* flex item*/
.flexItem {
    width: calc(100% / 3 - 20px);
    height: 25rem;
    margin: calc(20px / 2);
}

.homeFlexItem {
    width: calc(100% / 2 - 40px);
    height: 20rem;
    margin: 20px;
}


/* Profile edit*/
.profile_box {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 1px #c5001a;
    border-bottom: solid 1px #c5001a;
    display: inline-block;
}

.profile_box:before, .profile_box:after {
    content: '';
    position: absolute;
    top: -10px;
    width: 1px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #c5001a;
}

.profile_box:before {
    left: 10px;
}

.profile_box:after {
    right: 10px;
}

.profile_box p {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    display: inline-block;
}


/* edit button */
.edit_button {
    display: inline-block;
    position: relative;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #444;
    transition: .4s;
  }

  .edit_button:hover {
    color:#c5001a;
  }

  .edit_button:before, .edit_button:after {
    position: absolute;
    top: 0;
    content:'';
    width: 8px;
    height: 100%;
    display: inline-block;
  }

  .edit_button:before {
    border-left: solid 1px #c5001a;
    border-top: solid 1px #c5001a;
    border-bottom: solid 1px #c5001a;
    left: 0;
  }

  .edit_button:after {
    content: '';
    border-top: solid 1px #c5001a;
    border-right: solid 1px #c5001a;
    border-bottom: solid 1px #c5001a;
    right: 0;
  }


/* card */
.card {
    background: none;
    border: none;
}

.card-body {
    margin-top: 7px;
    border: solid 1px #c5001a;
}

table{
    border-collapse: collapse;
    width: 95%;
}

td, th {
    border: 1px solid black;   
    text-align: center;  
    padding: 1px;
    font-family: 'Quicksand', sans-serif;
}
    th {
    background-color: #c7beba; 
}


/* p */
.p_motivation {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}


/* image */
.img {
    width: 400px;
    filter: invert(65%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
}