<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap_css/bootstrap.min.css')}}">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="{{url_for('static', filename='bootstrap_js/bootstrap.min.js')}}"></script>

        <title>アカウント</title>
    </head>

    <body>
        {% extends "base.html" %}
        {% block body %}
        {{ super () }}

        <script language="javascript" type="text/javascript">
 
            function Display_JS(no){
             
                if(no == "no1"){
                    document.getElementById("JS").innerHTML = '<div><h1 class="h1_box">My Profile</h1><br><div class="profile_box"><p>自己紹介がここに入ります。</p></div><a href="" class="edit_button">変更</a></div>';
                }else if(no == "no2"){
                    document.getElementById("JS").innerHTML = '<div><h1 class="h1_box">e-mail</h1><br><div class="profile_box"><p>メールアドレスの変更はこちらです。</p></div><a href="" class="edit_button">変更</a></div>';
                }else if(no == "no3"){
                    document.getElementById("JS").innerHTML = '<div><h1 class="h1_box">Password</h1><br><div class="profile_box"><p>パスワードの変更はこちらです。</p></div><a href="" class="edit_button">変更</a></div>';
                }
            }
             
        </script>

        <main class="main">
            <div class="lnavi">
                <p>Local Menu</p>
                <p><a href="javascript:;" onclick="Display_JS('no1')">My Profile</a></p>
                <p><a href="javascript:;" onclick="Display_JS('no2')">My e-mail address</a></p>
                <p><a href="javascript:;" onclick="Display_JS('no3')">My Password</a></p>
            </div>

            <div class="content" id="JS">
                <h1 class="h1_box">My Profile</h1><br>
                <div class="profile_box">
                    <p>こんにちは、私は2021年5月からハーバード大学のオンライン講義である「CS50」を受講しました。その中でも、htmlやcss、JavaScriptなどフロントエンドの技術に興味が湧きました。今はフロントエンドの技術を勉強し、チーム開発を行っています。</p>
                </div>

                <h1 class="h1_box">e-mail</h1><br>
                <div class="profile_box">
                    <p>example@gmail.com</p>
                </div><br>

                <h1 class="h1_box">Password</h1><br>
                <div class="profile_box">
                    <p>●●●●●●●●●●</p>
                </div>
            </div>
        </main>

        {% endblock %}

        {% block footer %}
        {{ super () }}
        {% endblock %}
    </body>
</html>