<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap_css/bootstrap.min.css')}}">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="{{url_for('static', filename='bootstrap_js/bootstrap.min.js')}}"></script>

        <title>アカウント</title>
    </head>

    <body>
        {% extends "base.html" %}
        {% block body %}
        {{ super () }}

        <script language="javascript" type="text/javascript">
 
            function Display_JS(no){
             
                if(no == "no1"){
                    document.getElementById("JS").innerHTML = '<div><h1 class="h1_profile h1_box">My Profile</h1><br><div class="profile_box"><p>自己紹介がここに入ります。</p></div></div>';
                }else if(no == "no2"){
                    document.getElementById("JS").innerHTML = '<div><h1 class="h1_profile h1_box">e-mail</h1><br><div class="profile_box"><p>メールアドレスの変更はこちらです。</p></div><a href="" class="edit_button">変更</a></div>';
                }else if(no == "no3"){
                    document.getElementById("JS").innerHTML = '<div><h1 class="h1_profile h1_box">Password</h1><br><div class="profile_box"><p>パスワードの変更はこちらです。</p></div><a href="" class="edit_button">変更</a></div>';
                }
            }
               
             
        </script>

        <main class="main">
            <div class="lnavi">
                <h3 class="h1_motivation">Local Menu</h3>
                <h3 class="h3_profile">______________________</h3>
                <p><a href="javascript:;" onclick="Display_JS('no1')">My Profile</a></p>
                <p><a href="javascript:;" onclick="Display_JS('no2')">My e-mail address</a></p>
                <p><a href="javascript:;" onclick="Display_JS('no3')">My Password</a></p>
            </div>

            <div class="content" id="JS">
                <h1 class="h1_profile h1_box">My Profile</h1><br>
                <div class="profile_box">
                    
                    {% for profile in profiles %}
                    <p>{{profile.profile_text}}</p>
                    <br></br>
                    <p><a href="/edit_profile/{{profile.id}}">Edit</a></p>
                    {% endfor %}

                </div>

                <br><h1 class="h1_profile h1_box">e-mail</h1><br>
                <div class="profile_box">
                    <p>{% for profile in profiles %}
                        <p>{{profile.e_mail}}</p>
                        {% endfor %}</p>
                </div><br>

                <h1 class="h1_profile h1_box">Password</h1><br>
                <div class="profile_box">
                    <p>{% for profile in profiles %}
                        <p>{{profile.password}}</p>
                        {% endfor %}</p>
                </div>
            </div>
        </main>

        {% endblock %}

        {% block footer %}
        {{ super () }}
        {% endblock %}
    </body>
</html>