<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
        <title>メニュー</title>
    </head>

    <body>
        {% block body %}
        <header><a href="{{ url_for('home_button') }}">もちもちのき</a></header>

        <nav class="gnavi">
            <div class="gnavi_inner">
                <ul>
                    <li><a href="{{ url_for('home_button') }}"><span>ホーム</span></a></li>
                    <li><a href="{{ url_for('account_button') }}"><span>アカウント</span></a></li>
                    <li><a href="{{ url_for('motivation_form') }}"><span>モチベーション</span></a></li>
                    <li><a href="{{ url_for('portfolio_button') }}"><span>ポートフォリオ</span></a></li>
                    <li><a href="{{ url_for('post_button') }}"><span>投稿</span></a></li>
                    <li><a href="{{ url_for('logout_button') }}"><span>ログアウト</span></a></li>
                </ul>
            </div>
        </nav>

        {% endblock %}
    </body>
</html>