<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
        <title>メニュー</title>
    </head>

    <body>
        {% block body %}
        <header class="header"><a href="{{ url_for('index2_button') }}">Motivate.</a></header>

        <nav class="gnavi">
            <div class="gnavi_inner">
                <ul>
                    <li><a href="{{ url_for('home_button') }}"><span>Home</span></a></li>
                    <li><a href="{{ url_for('account_button') }}"><span>Profile</span></a></li>
                    <li><a href="{{ url_for('motivation_button') }}"><span>Motivation</span></a></li>
                    <li><a href="{{ url_for('portfolio_button') }}"><span>Portfolio</span></a></li>
                    <li><a href="{{ url_for('post_button') }}"><span>Post</span></a></li>
                    <li><a href="{{ url_for('logout_button') }}"><span>LogOut</span></a></li>
                </ul>
            </div>
        </nav>
        {% endblock %}

        {% block footer %}
        <footer class="header"></footer>
        {% endblock %}
    </body>
</html>