<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap_css/bootstrap.min.css')}}">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="{{url_for('static', filename='bootstrap_js/bootstrap.min.js')}}"></script>

        <title>ホーム</title>
    </head>

    <body>
        {% extends "base.html" %}
        {% block body %}
        {{ super () }}

        <main class="home_title">
            <div class="homeContent">
                <h1 class="h1_home h1_box">Post</h1>
            </div>
            <div class="homeContent">
                <h1 class="h1_home h1_box">Portfolio</h1>
            </div>
        </main>

        <main class="main">
            <div class="home_post flexContent">
                <div class="card homeFlexItem">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                        <title>Placeholder</title>
                        <rect fill="#868e96" width="100%" height="100%"/>
                        <text fill="#dee2e6" dy=".3em" x="50%" y="50%"　text>画像</text>
                    </svg>
    
                    <div class="card-body">
                        <p class="card-text">これが私の投稿です。今、プログラミングを勉強していて、cs50の講義を受けています。</p>
                    </div>
                </div>


                {% for post in posts %}
                <div class="card homeFlexItem">
                    <img class="homecard-img-top card-img-top" src="{{post.post_img}}" alt="">
                    <div class="card-body">
                        <p class="card-text">{{post.post_text}}</p>
                    </div>   
                </div> 
                {% endfor %}

            </div>



            <div class="home_portfolio flexContent">
                <div class="card homeFlexItem">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                        <title>Placeholder</title>
                        <rect fill="#868e96" width="100%" height="100%"/>
                        <text fill="#dee2e6" dy=".3em" x="50%" y="50%">画像</text>
                    </svg>
    
                    <div class="card-body">
                        <p class="card-text">これが私のポートフォリオです。webアプリケーションを作ってみました。</p>
                    </div>
                    
                </div>


                {% for portfolio in portfolios %}  
                    <div class="card homeFlexItem">
                        <img class="homecard-img-top card-img-top" src="{{portfolio.portforio_img}}" width="100%" height="250">
                        <div class="card-body">
                            <p class="card-text">{{portfolio.portforio_text}}</p>
                        </div>   
                    </div> 
                {% endfor %}

            </div>
        </main>

        {% endblock %}

        {% block footer %}
        {{ super () }}
        {% endblock %}
    </body>
</html>