<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap_css/bootstrap.min.css')}}">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="{{url_for('static', filename='bootstrap_js/bootstrap.min.js')}}"></script>

        <title>モチベーション</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    </head>

    <body>
        {% extends "base.html" %}
        {% block body %}
        {{ super () }}

        <main class="main">
            <div class="lnavi"></div>

            <div class="content">
                <h1>form</h1>
                <h3>______________________</h3>
                <form action="/motivation" method = "POST">
                  <h2>motivation</h2><input type="number" name = "motivation" placeholder= "motivation: %">
                  <br><h2>theme</h2><input type="text" name = "theme" placeholder = "Your theme name"></br>
                  <br><input type="submit" name = "submit" placeholder = "submit"></br>
                </form>

                <h3>______________________</h3>
                
                {% for motivation in motivations%}
                <h5>{{motivation.theme_name}} : 
                {{motivation.percentage}}%</h5>
                {% endfor %}

              
            </div>

            <div class="content">
                <h3>モチベーションをグラフで表示する</h3>
                
               
                <canvas id="myChart"></canvas>
                <script>
                  const motivation_data = ['{% for motivation in motivations %}{{motivation.percentage}}{% endfor %}'];
                  const theme_data = ['{% for motivation in motivations %}{{motivation.theme_name}}{% endfor %}'];
          
                  console.log(motivation_data);
                  console.log(theme_data);

                  const labels = theme_data;
                  const data = {
                    labels: labels,
                    datasets: [{
                      label: 'Motivation',
                      data: motivation_data,
                      borderWidth: 1
                    }]
                  };
                  
                  const config = {
                  type: 'bar',
                  data: data,
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  },
                };
                
                var myChart = new Chart(
                  document.getElementById('myChart'),
                  config
                );</script>
            </div>
        </main>

        {% endblock %}

        {% block footer %}
        {{ super () }}
        {% endblock %}
    </body>
</html>