<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap_css/bootstrap.min.css')}}">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="{{url_for('static', filename='bootstrap_js/bootstrap.min.js')}}"></script>

        <title>モチベーション</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    </head>

    <body>
        {% extends "base.html" %}
        {% block body %}
        {{ super () }}

        <main class="main">
            <div class="lnavi">
              <h1 class="h1_motivation">Form</h1>
                <h3 class="h3_motivation">______________________</h3>
                <form action="/motivation" method = "POST">
                  <br><h3 class="h3_motivation">Motivation</h3><input type="number" name = "motivation" placeholder= "motivation: %"></br>
                  <br><h3 class="h3_motivation">Theme</h3><input type="text" name = "theme" placeholder = "Your theme name"></br>
                  <br><h3 class="h3_motivation">Date</h3><input type="date" name="due"></br>
                  <br><h3 class="h3_motivation">Valence</h3><input type="number" step="0.1" name="valence"></br>
                  <br><h3 class="h3_motivation">Instrumentary</h3><input type="number" step="0.1" name="instrumentary"></br>
                  <br><h3 class="h3_motivation">Expectancy</h3><input type="number" step="0.1" name="expectancy"></br>
                  <br><input type="submit" name = "submit" placeholder = "submit"></br>
                </form>
            </div>

            <div class="content">
                
              
                <h1 class="h1_motivation">Your Theme And Motivation(%)</h1>
                <h3 class="h3_motivation">______________________</h3>
                <br></br>
                <table>
                <h3 class="h3_motivation">
                  <tr>
                    <th>Theme Name</th>
                    <th>motivation(%)</th>
                    <th>Date</th>
                  </tr>

                  {% for motivation in motivations%}
                  <tr>
                    <td><a href="/theme_delete/{{motivation.id}}">{{motivation.theme_name}}</a></td>
                    <td>{{motivation.percentage}}%</td>
                    <td>{{motivation.due}}</td>
                  </tr>
                </h3>
                {% endfor %}
                </table>
              
            </div>

            <div class="content">
                <h1 class="h1_motivation">Display Your Motivation</h1>
                <h3 class="h3_motivation">______________________</h3>
                
                <canvas id="myChart"></canvas>
                <script>
              
                  var motivation_data = {{ motivation_data|tojson }};
                  motivation_data = JSON.parse(motivation_data);
                  console.log(motivation_data);

                  var theme_data = {{ theme_data|tojson }};
                  theme_data = JSON.parse(theme_data);
                  console.log(theme_data);

                  var date_data = {{ date_data|tojson }};
                  date_data = JSON.parse(date_data);
                  console.log(date_data);

                  var F_value = {{ F_value|tojson }};
                  F_value = JSON.parse(F_value);
                  console.log(F_value);

                  
                  //calculate sum F_value V.H.Vloom
                  const sum_F = [F_value.reduce(
                    function(sum,element)
                    {return sum + element;},0)];
                  console.log(sum_F);

                  //caluculate sum motivation percantage
                  const sum_motivation = [motivation_data.reduce(
                    function(sum,element)
                    {return sum + element;},0)];
                  console.log(sum_motivation);
                  
                  //count theme_number you had
                  const count_theme_data = theme_data.length;
                  console.log(count_theme_data);

                  const labels = theme_data;
                  const data = {
                    labels: theme_data,
                    datasets: [{
                      label: 'Motivation',
                      data: motivation_data,
                      backgroundColor: "rgba(150,100,150,0.4)",
                      borderWidth: 1
                    }]
                  };
                  
                  const config = {
                  type: 'bar',
                  data: data,
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  },
                };
                
                var myChart = new Chart(
                  document.getElementById('myChart'),
                  config
                );</script>
                <p class="p_motivation">Graph1:Theme and Motivation</p>

               
               <canvas id="myChart2"></canvas>
               <script>
                 var ctx2 = document.getElementById('myChart2').getContext('2d');
                 var myChart2 = new Chart(ctx2, {
                       type: 'line',
                       data: {
                       labels: date_data,
                       datasets: [{
                       label: 'motivation',
                       data: motivation_data,
                       backgroundColor: "rgba(255,153,0,0.4)"
                       }, {
                       label: 'F-value',
                       data: F_value,
                       backgroundColor: "rgba(153,255,0,0.4)"
                       }]
                       }
                      });
               </script>
               <p class="p_motivation">Graph2:Motivation percentage and F-value</p>

               <canvas id="myChart3"></canvas>
               <script>
                  var ctx3 = document.getElementById('myChart3').getContext('2d');
                  var myChart3 = new Chart(ctx3, {
                        type: 'bar',
                        data: {
                        datasets: [{
                        label: 'Total motivation',
                        data: sum_motivation,
                        backgroundColor: "rgba(100,100,255,0.4)"
                        }, {
                        label: 'Total F-Value',
                        data:sum_F,
                        backgroundColor: "rgba(255,100,100,0.4)"
                        }]
                        }
                      });
                  
              </script>
              <p class="p_motivation">Graph3:Total Motivation percentage and F-Value</p>
            </div>
        </main>

        {% endblock %}

        {% block footer %}
        {{ super () }}
        {% endblock %}
    </body>
</html>