<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap_css/bootstrap.min.css')}}">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="{{url_for('static', filename='bootstrap_js/bootstrap.min.js')}}"></script>

        <title>モチベーション</title>
    </head>

    <body>
        {% extends "base.html" %}
        {% block body %}
        {{ super () }}

        <main class="main">
            <div class="lnavi">

            </div>

            <div class="content">

            </div>
        </main>

        {% endblock %}

        {% block footer %}
        {{ super () }}
        {% endblock %}
    </body>
</html>