<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap_css/bootstrap.min.css')}}">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="{{url_for('static', filename='bootstrap_js/bootstrap.min.js')}}"></script>

        <title>ポートフォリオ</title>
    </head>

    <body>
        {% extends "base.html" %}
        {% block body %}
        {{ super () }}

        <main class="main">
            <div class="lnavi">

                <h3 class="h1_motivation">New Portfolio</h3>
                <h3 class="h3_profile">______________________</h3>

                <form action="/portfolio_edit" method="POST" enctype="multipart/form-data">
                    <h3 class="h3_motivation">Title</h3>
                    <div class="form">
                        <label class="form_label" for="portfolio_title">
                        <input type="text" name="portfolio_title" required="required" placeholder="Your portfolio title">
                        </label>
                    </div><br>
        
                    <h3 class="h3_motivation">Description</h3>
                    <div class="form">
                        <label class="form_label" for="portfolio_text">
                        <input type="text" name="portfolio_text" required="required" placeholder="description">
                        </label>
                    </div><br>

                    <h3 class="h3_motivation">Image</h3>
                    <div class="form">
                        <label class="form_label" for="img">
                        <input type="file" name="portfolio_img" required="required" placeholder="画像">
                        </label>
                    </div><br>

                    <div class="button-panel edit_button">
                        <input type="submit" class="button" title="Login" value="投稿">
                    </div>
                </form>

            </div>

            <div class="flexContent">
                <div class="card flexItem">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                        <title>Placeholder</title>
                        <rect fill="#868e96" width="100%" height="100%"/>
                        <text fill="#dee2e6" dy=".3em" x="50%" y="50%">画像</text>
                    </svg>
    
                    <div class="card-body">
                        <p class="card-text">これが私のポートフォリオです。webアプリケーションを作ってみました。</p>
                    </div>
                </div>


                {% for portfolio in portfolios %}
                    <div class="card flexItem">
                        <img class="postcard-img-top card-img-top" src="{{portfolio.portforio_img}}"　alt="">
                        <div class="card-body">
                            <p class="card-text">{{portfolio.portforio_text}}</p>
                        </div>   
                    </div>                             
                {% endfor %}

            </div>
        </main>
        
        {% endblock %}

        {% block footer %}
        {{ super () }}
        {% endblock %}
    </body>
</html>