<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="base.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
        <title>ポートフォリオ</title>
    </head>

    <body>
        {% extends "base.html" %}
        {% block body %}
        {{ super () }}

        <main>
                
        </main>
        
        {% endblock %}
    </body>
</html>